<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1 style="color: rgb(11, 12, 12);">ABOUT US</h1>
    <div class="container">
    <div class="row">
        <col-md-6>
        <img  src="https://www.shutterstock.com/image-photo/coronavirus-covid-19-infected-patient-600w-1684283641.jpg" alt="" height="300px" width="1000px">
        </col-md-6>
    </div>
 </div>
 
    <div class="BlockContents">
        <h2 style="text-align: center;">Our Organization</h2>
        <p style="text-align: center;">Friends of Family Health Center is a non-profit, Federally Qualified Community Clinic committed to fulfilling the healthcare needs of insured and uninsured individuals and families throughout the Cities of La Habra & Tustin, in Orange County.</p>
        <p style="text-align: center;">Originally founded in 1996 by Institute for Healthcare Advancement, Friends of Family Health Center began its operation as a small community pediatric center under the name of Friends of Children Health Center. Later in 2009, due to increased demand for healthcare services by underserved community members, the clinic expanded its services to all ages and changed its name to Friends of Family Health Center.</p>
        <p style="text-align: center;">In mid-2012, Friends of Family Health Center received its designation as a Federally Qualified Health Center (FQHC) and became a completely independent non-profit organization.</p>
        <p style="text-align: center;">Friends of Family Health Center is managed by an Executive Staff and governed by our Board of Directors with the following Mission, Vision and Core Values.</p>
    </div>
    </body>
</html>