<h1 style="text-align: center;" > Our Service</h1>
<div class="BlockContents">
   <p style="text-align: center;">
        Without a caring practitioner monitoring your ongoing health, you may not even be aware of an underlying health issue that is making you ill. Did you know that hypertension, otherwise known
        as high blood pressure, shows almost no symptoms, and can only be detected after testing?
</p>
<p style="text-align: center;">
        That is just one reason why you should think about integrating continuous check-ups in your schedule and establish a regular doctor in La Habra. As you and your doctor can get to know each
        other and build a relationship, your level of personalized care will
        <br />
        ultimately improve.
</p></div></div><div class="Clear"></div></div>
  </div>
</div>
<div class="Clear"></div></div><div id="w9YG59PL6Q62NIDD" class="mwPageBlock Include" style=""><div class="contentAreaColored">
  <div class="mainContentArea">
    <div class="mwPageArea"><div id="wCEA0Q0K8IXHSHE5" class="mwPageBlock Content" style=""><div class="BlockContents"><h3 style="text-align: center;">
        We proudly provide the following services
</h3></div></div><div id="w6IMOIU46FWU9UI2" class="mwPageBlock Spacer" style=""><div  class="mwSpacer hor" style="height:15px;"></div></div><div id="wLG7S3O185NJMZ8Q" class="mwPageBlock Include" style=""><div class="threeColumn">
	<div class="threeCol">
		<div class="mwPageArea"><div id="wE1ABABN46EBJKVP" class="mwPageBlock Content" style=""><div class="BlockContents"><ul>
        <li>Preventive care
        </li>
        <li>General primary care services
        </li>
        <li>Guidance on insurance options &amp; applications
        </li>
        <li>Chronic illness management and maintenance
        </li>
        <li>Prenatal care
        </li>
</ul></div></div><div class="Clear"></div></div>
	</div>
	<div class="threeCol">
		<div class="mwPageArea"><div id="wU7WBZ4G20CHTBR8" class="mwPageBlock Content" style=""><div class="BlockContents"><ul>
        <li>Child Health and Disability Program (CHDP)
        </li>
        <li>Behavioral Health Services
        </li>
        <li>Hearing and vision screening
        </li>
        <li>Developmental screening
        </li>
        <li>Children's Dental Care
        </li>
        <li>Adult Dental Care
        </li>
</ul></div></div><div class="Clear"></div></div>
	</div>
	<div class="threeCol">
		<div class="mwPageArea"><div id="wX9IUW49NNSDLQPD" class="mwPageBlock Content" style=""><div class="BlockContents"><ul>
        <li>Obstetrics/Gynecological care
        </li>
        <li>Family PACT
        </li>
        <li>Immunizations
        </li>
        <li>HIV Screening
        </li>
        <li>PrEP Medication
        </li>
        <li>Depression Screening
        </li>
</ul></div></div><div class="Clear"></div></div>
	</div>
</div>
</div><div class="Clear"></div></div>
  </div>
</div>
<div class="Clear"></div></div><div id="wZ74DQGUBKJY1R38" class="mwPageBlock Include" style=""><div class="callToActionWrap two"></div>